body{
    background-color:rgb(232, 241, 245);
    font-size: 16px;
    line-height: 1.6em;
    text-indent: 2em;
    text-align: justify;
}

.box1{
    width: 80%;
    margin: auto;
}

.box1 h1{
    color:rgb(0, 65, 105);
    text-align: center;
    font-style: italic;
    font-family: Impact, sans-serif;
    font-weight: 500;
}

.box2{
    width: 80%;
    margin: auto;

    border: 5px lightskyblue solid;
    border-width: 5px;
    border-style: dashed;

    padding: 10px;
    padding-right: 30px;
}

.box2 ol li{
    text-indent: 0.2em;
    font-weight: bold;
    font-size: 16.5px;
    color:rgb(34, 70, 93);
}

.img-box img{
    display: block;
    margin: auto;
    border-radius: 30px;
    padding-bottom: 10px;
    width: 300px;
    height: 200px;

}

.content-table{
    border: 3px solid rgb(223, 223, 244);
    background-color: rgb(255, 242, 244);
    color:black;
    text-align: center;
    margin: 25px auto;
    font-size: o.9em;
    min-width: 400px;
    max-width: 900px;
}

.content-table tbody tr td{
    text-align: left;
    padding: 8px;
}


tfoot, thead tr:nth-child(odd), tbody tr:nth-child(even){
    background-color: rgb(223, 223, 244);
}

.none{
    list-style-type: none;
}

.none div{
    font-size: 16px;
    color: black;
    font-weight: normal;
    line-height: 1.6em;
    text-indent: 2em;
    text-align: justify;
    display:inline-block;
}
